@use "variables" as v;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  background-color: v.$Dark-Blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .main {
    border-radius: 8px;
    width: 500px;
    height: 290px;
    max-width: 90%;
    background-color: v.$Dark-Grayish-Blue;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: .8rem 1.5rem 0;
      height: 100%;
      &-id-number {
        letter-spacing: 2px;
        margin-top: 1.5rem;
        padding: .4rem;
        color: v.$Neon-Green;
        text-align: center;
      }

      &-advice {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
        color: v.$Light-Cyan;
        padding: 1rem;
        letter-spacing: 1px;
      }

      &-figure {
        width: 100%;

        img {
          width: 100%;
        }
      }

      &-button {
        background-color: v.$Neon-Green;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transform: translateY(50%);
        border: none;
        img {
          transform: translateY();
        }

        &:hover{ box-shadow:
        0 0 50px 2px v.$Neon-Green, 
        0 0 70px 4px v.$Neon-Green, 
        0 0 90px 8px v.$Neon-Green; 
        }
      }
    }
  }
  .attribution{
    margin-top: 7rem;
  }
}

@media (max-width: 375px){
    body{

        .main{
            width: 95%;
            height: 50vh;
        }
    }
}